In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_jun = session.query(Measurement.tobs).\
    filter(Measurement.date >= '2016-06-01').\
    filter(Measurement.date <= '2016-06-30').all()
print(results_jun)

[(76.0,), (71.0,), (71.0,), (74.0,), (76.0,), (78.0,), (77.0,), (77.0,), (73.0,), (77.0,), (78.0,), (78.0,), (80.0,), (79.0,), (78.0,), (77.0,), (76.0,), (77.0,), (77.0,), (78.0,), (80.0,), (79.0,), (79.0,), (77.0,), (78.0,), (79.0,), (80.0,), (76.0,), (79.0,), (80.0,), (70.0,), (69.0,), (70.0,), (68.0,), (70.0,), (74.0,), (75.0,), (74.0,), (71.0,), (73.0,), (75.0,), (74.0,), (76.0,), (76.0,), (76.0,), (76.0,), (75.0,), (75.0,), (75.0,), (74.0,), (73.0,), (76.0,), (74.0,), (78.0,), (71.0,), (75.0,), (75.0,), (74.0,), (77.0,), (77.0,), (71.0,), (74.0,), (75.0,), (75.0,), (74.0,), (76.0,), (75.0,), (77.0,), (77.0,), (79.0,), (79.0,), (78.0,), (79.0,), (73.0,), (78.0,), (79.0,), (80.0,), (76.0,), (79.0,), (79.0,), (77.0,), (80.0,), (79.0,), (78.0,), (78.0,), (79.0,), (78.0,), (64.0,), (65.0,), (75.0,), (76.0,), (78.0,), (77.0,), (75.0,), (78.0,), (81.0,), (78.0,), (76.0,), (73.0,), (74.0,), (76.0,), (78.0,), (79.0,), (78.0,), (72.0,), (78.0,), (80.0,), (81.0,), (75.0,), (75.0,), (75.0,), (75.0,), (73.0,), (78.0,), (77.0,), (80.0,), (72.0,), (78.0,), (78.0,), (77.0,), (78.0,), (79.0,), (80.0,), (76.0,), (77.0,), (79.0,), (79.0,), (77.0,), (79.0,), (80.0,), (80.0,), (77.0,), (79.0,), (81.0,), (78.0,), (80.0,), (79.0,), (69.0,), (67.0,), (68.0,), (65.0,), (70.0,), (72.0,), (74.0,), (73.0,), (71.0,), (75.0,), (72.0,), (75.0,), (76.0,), (75.0,), (76.0,), (75.0,), (71.0,), (75.0,), (75.0,), (72.0,), (72.0,), (75.0,), (73.0,), (76.0,), (74.0,), (77.0,), (72.0,), (71.0,), (76.0,), (77.0,), (70.0,), (71.0,), (70.0,), (73.0,), (72.0,), (71.0,), (71.0,), (69.0,), (70.0,), (73.0,), (75.0,), (73.0,), (72.0,), (70.0,), (70.0,), (69.0,), (73.0,), (74.0,), (72.0,), (71.0,), (73.0,), (72.0,), (73.0,), (74.0,), (72.0,), (74.0,), (72.0,)]

In [5]:
#  3. Convert the June temperatures to a list.
results_jun = list(np.ravel(results_jun))
print(results_jun)

[76.0, 71.0, 71.0, 74.0, 76.0, 78.0, 77.0, 77.0, 73.0, 77.0, 78.0, 78.0, 80.0, 79.0, 78.0, 77.0, 76.0, 77.0, 77.0, 78.0, 80.0, 79.0, 79.0, 77.0, 78.0, 79.0, 80.0, 76.0, 79.0, 80.0, 70.0, 69.0, 70.0, 68.0, 70.0, 74.0, 75.0, 74.0, 71.0, 73.0, 75.0, 74.0, 76.0, 76.0, 76.0, 76.0, 75.0, 75.0, 75.0, 74.0, 73.0, 76.0, 74.0, 78.0, 71.0, 75.0, 75.0, 74.0, 77.0, 77.0, 71.0, 74.0, 75.0, 75.0, 74.0, 76.0, 75.0, 77.0, 77.0, 79.0, 79.0, 78.0, 79.0, 73.0, 78.0, 79.0, 80.0, 76.0, 79.0, 79.0, 77.0, 80.0, 79.0, 78.0, 78.0, 79.0, 78.0, 64.0, 65.0, 75.0, 76.0, 78.0, 77.0, 75.0, 78.0, 81.0, 78.0, 76.0, 73.0, 74.0, 76.0, 78.0, 79.0, 78.0, 72.0, 78.0, 80.0, 81.0, 75.0, 75.0, 75.0, 75.0, 73.0, 78.0, 77.0, 80.0, 72.0, 78.0, 78.0, 77.0, 78.0, 79.0, 80.0, 76.0, 77.0, 79.0, 79.0, 77.0, 79.0, 80.0, 80.0, 77.0, 79.0, 81.0, 78.0, 80.0, 79.0, 69.0, 67.0, 68.0, 65.0, 70.0, 72.0, 74.0, 73.0, 71.0, 75.0, 72.0, 75.0, 76.0, 75.0, 76.0, 75.0, 71.0, 75.0, 75.0, 72.0, 72.0, 75.0, 73.0, 76.0, 74.0, 77.0, 72.0, 71.0, 76.0, 77.0, 70.0, 71.0, 70.0, 73.0, 72.0, 71.0, 71.0, 69.0, 70.0, 73.0, 75.0, 73.0, 72.0, 70.0, 70.0, 69.0, 73.0, 74.0, 72.0, 71.0, 73.0, 72.0, 73.0, 74.0, 72.0, 74.0, 72.0]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
results_jun_df = pd.DataFrame(results_jun)
results_jun_df.rename(columns={0: "June Temps"}, inplace=True)
results_jun_df.head()

   June Temps
0        76.0
1        71.0
2        71.0
3        74.0
4        76.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
results_jun_df.describe()

       June Temps
count  194.000000
mean    75.175258
std      3.421996
min     64.000000
25%     73.000000
50%     75.500000
75%     78.000000
max     81.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec = session.query(Measurement.tobs).\
    filter(Measurement.date >= '2016-12-01').\
    filter(Measurement.date <= '2016-12-31').all()
print(results_dec)

[(75.0,), (72.0,), (69.0,), (71.0,), (68.0,), (67.0,), (69.0,), (73.0,), (70.0,), (70.0,), (70.0,), (66.0,), (67.0,), (70.0,), (66.0,), (62.0,), (71.0,), (73.0,), (69.0,), (77.0,), (74.0,), (71.0,), (72.0,), (74.0,), (74.0,), (74.0,), (74.0,), (71.0,), (73.0,), (69.0,), (66.0,), (73.0,), (71.0,), (71.0,), (69.0,), (68.0,), (70.0,), (71.0,), (72.0,), (70.0,), (71.0,), (72.0,), (68.0,), (68.0,), (70.0,), (70.0,), (63.0,), (71.0,), (67.0,), (69.0,), (74.0,), (72.0,), (70.0,), (69.0,), (73.0,), (74.0,), (74.0,), (73.0,), (71.0,), (72.0,), (69.0,), (71.0,), (75.0,), (77.0,), (75.0,), (77.0,), (76.0,), (76.0,), (75.0,), (72.0,), (76.0,), (75.0,), (72.0,), (72.0,), (75.0,), (69.0,), (75.0,), (74.0,), (78.0,), (77.0,), (76.0,), (72.0,), (73.0,), (74.0,), (74.0,), (74.0,), (73.0,), (73.0,), (71.0,), (72.0,), (72.0,), (70.0,), (68.0,), (74.0,), (71.0,), (70.0,), (70.0,), (70.0,), (68.0,), (68.0,), (68.0,), (66.0,), (71.0,), (76.0,), (73.0,), (70.0,), (68.0,), (71.0,), (71.0,), (68.0,), (76.0,), (75.0,), (75.0,), (75.0,), (70.0,), (70.0,), (74.0,), (73.0,), (72.0,), (78.0,), (67.0,), (69.0,), (71.0,), (74.0,), (63.0,), (76.0,), (76.0,), (71.0,), (76.0,), (77.0,), (73.0,), (71.0,), (78.0,), (78.0,), (75.0,), (75.0,), (72.0,), (77.0,), (72.0,), (74.0,), (70.0,), (72.0,), (70.0,), (67.0,), (67.0,), (69.0,), (70.0,), (68.0,), (69.0,), (69.0,), (66.0,), (65.0,), (68.0,), (62.0,), (75.0,), (70.0,), (69.0,), (76.0,), (76.0,), (74.0,), (73.0,), (71.0,), (74.0,), (74.0,), (72.0,), (71.0,), (72.0,), (74.0,), (69.0,), (67.0,), (71.0,), (71.0,), (67.0,), (76.0,), (67.0,), (67.0,), (68.0,), (71.0,), (68.0,), (68.0,), (69.0,), (65.0,), (70.0,), (69.0,), (64.0,), (60.0,), (67.0,), (72.0,), (73.0,), (70.0,), (68.0,), (69.0,), (69.0,), (69.0,), (71.0,), (71.0,), (71.0,), (69.0,), (65.0,), (65.0,)]

In [9]:
# 7. Convert the December temperatures to a list.
results_dec = list(np.ravel(results_dec))
print(results_dec)

[75.0, 72.0, 69.0, 71.0, 68.0, 67.0, 69.0, 73.0, 70.0, 70.0, 70.0, 66.0, 67.0, 70.0, 66.0, 62.0, 71.0, 73.0, 69.0, 77.0, 74.0, 71.0, 72.0, 74.0, 74.0, 74.0, 74.0, 71.0, 73.0, 69.0, 66.0, 73.0, 71.0, 71.0, 69.0, 68.0, 70.0, 71.0, 72.0, 70.0, 71.0, 72.0, 68.0, 68.0, 70.0, 70.0, 63.0, 71.0, 67.0, 69.0, 74.0, 72.0, 70.0, 69.0, 73.0, 74.0, 74.0, 73.0, 71.0, 72.0, 69.0, 71.0, 75.0, 77.0, 75.0, 77.0, 76.0, 76.0, 75.0, 72.0, 76.0, 75.0, 72.0, 72.0, 75.0, 69.0, 75.0, 74.0, 78.0, 77.0, 76.0, 72.0, 73.0, 74.0, 74.0, 74.0, 73.0, 73.0, 71.0, 72.0, 72.0, 70.0, 68.0, 74.0, 71.0, 70.0, 70.0, 70.0, 68.0, 68.0, 68.0, 66.0, 71.0, 76.0, 73.0, 70.0, 68.0, 71.0, 71.0, 68.0, 76.0, 75.0, 75.0, 75.0, 70.0, 70.0, 74.0, 73.0, 72.0, 78.0, 67.0, 69.0, 71.0, 74.0, 63.0, 76.0, 76.0, 71.0, 76.0, 77.0, 73.0, 71.0, 78.0, 78.0, 75.0, 75.0, 72.0, 77.0, 72.0, 74.0, 70.0, 72.0, 70.0, 67.0, 67.0, 69.0, 70.0, 68.0, 69.0, 69.0, 66.0, 65.0, 68.0, 62.0, 75.0, 70.0, 69.0, 76.0, 76.0, 74.0, 73.0, 71.0, 74.0, 74.0, 72.0, 71.0, 72.0, 74.0, 69.0, 67.0, 71.0, 71.0, 67.0, 76.0, 67.0, 67.0, 68.0, 71.0, 68.0, 68.0, 69.0, 65.0, 70.0, 69.0, 64.0, 60.0, 67.0, 72.0, 73.0, 70.0, 68.0, 69.0, 69.0, 69.0, 71.0, 71.0, 71.0, 69.0, 65.0, 65.0]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
results_dec_df = pd.DataFrame(results_dec)
results_dec_df.rename(columns={0: "December Temps"}, inplace=True)
results_dec_df.head()

   December Temps
0            75.0
1            72.0
2            69.0
3            71.0
4            68.0

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
results_dec_df.describe()

       December Temps
count      200.000000
mean        71.130000
std          3.419292
min         60.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         78.000000